{% extends 'base.html.twig' %}

{% block title %}Random number !{% endblock %}

{% block body %}

<h1> Welcome to my first new page... Isn't it awesome !? </h1>
<p>
Of course here is your random number asked between 0 and {{ max }} : {{ value }}
</p>

{% endblock %}
